.gitignore
.DS_Store
node_modules
qunit
sandbox
*~
bugs
data
doc
test/quat
test/pick
test/matrix
test/lighting
*.cpp
*.osg
*.log
*.c
*.orig
*Thumbs.db
.hooks
builds
builds/active
builds/active/OSG.js
builds/active/OSG.js.map
builds/dist/OSG.js
builds/dist/OSG.js.map
examples/vendors/Hammer.js
examples/vendors/Q.js
examples/vendors/Require.js
examples/vendors/es5-shim.js
examples/vendors/es6-shim.js
sources/vendors
examples/vendors/require/text.js
