<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example Title</title>


    <link rel="stylesheet" type="text/css" href="../templates/css/base.css">

    <style type="text/css">
    /* Custom CSS goes here */
    <!-- #ViewContainer { -->
    <!--   position: absolute; -->
    <!-- } -->
    <!-- #View { -->
    <!--   display: block; -->
    <!-- } -->
    </style>

    <!-- Javascript -->
    <!-- Dependencies -->
    <script type="text/javascript" src="../vendors/es5-shim.js"></script>
    <script type="text/javascript" src="../vendors/es6-shim.js"></script>
    <script type="text/javascript" src="../vendors/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../vendors/dat.gui.js"></script>
    <script type="text/javascript" src="../vendors/bluebird.js"></script>
    <script type="text/javascript" src="../vendors/hammer.js"></script>
    <script type="text/javascript" src="../vendors/leap.js"></script>
    <!-- OGSJ main library -->
    <script type="text/javascript" src="../../builds/dist/OSG.js"></script>

    <!-- Example Base Class -->
    <script type="text/javascript" src="../templates/Example.js"></script>

    <!-- User/Example code-->
    <script type="text/javascript" src="main.js"></script>

</head>



<body class="osgjs-theme-light">

  <div id="ViewContainer" class="osgjs-fullpage">
    <!-- very important change the size of the parent element instead-->
    <canvas id="View" style="height:100%;width:100%;" oncontextmenu="return false;"></canvas>
  </div>

  <div class="osgjs-info osgjs-info-dark">

    <a href="http://osgjs.org/" class="osgjs-powered" title="Powered by OSG.JS">
      <img  src="http://osgjs.org/assets/logo.png" alt="" width="32" height="32">
      <strong>OSG.JS</strong>
    </a>

    <div class="osgjs-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      <a href="#">Read the blog post for more info</a>
    </div>

  </div>

</body>

</html>
