<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example Title</title>
    <link rel="stylesheet" type="text/css" href="../templates/css/base.css">

    <style type="text/css">
    /* Custom CSS goes here */
    #ViewContainer {
      position: absolute;
    }
    </style>

    <!-- Javascript -->
    <script type="text/javascript" src="../vendors/dat.gui.js"></script>
    <script type="text/javascript" src="../vendors/Q-0.9.7.js"></script>
    <script type="text/javascript" src="../vendors/Hammer-1.0.5.js"></script>
    <script type="text/javascript" src="../vendors/Leap.js"></script>
    <script type="text/javascript" src="../../builds/dist/OSG.js"></script>
    <script type="text/javascript" src="main.js"></script>

</head>



<body class="osgjs-theme-dark">

  <div id="ViewContainer">
    <canvas id="3DView"></canvas>
  </div>

  <div class="osgjs-info osgjs-info-dark">

    <a href="http://osgjs.org/" class="osgjs-powered" title="Powered by OSG.JS">
      <img src="http://osgjs.org/assets/logo.png" alt="" width="32" height="32">
      <strong>OSG.JS</strong>
    </a>

    <div class="osgjs-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.<br>
      <a href="#">Read the blog post for more info</a>
    </div>

  </div>

</body>

</html>
